<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422261355406-jbm8s1tducf7igp4dlgurokmosrquf5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422261355406-jbm8s1tducf7igp4dlgurokmosrquf5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBWzpUz46kE3aOFiI-Eqxm5F2mdD3XyvCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>422261355406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.student.ceta-ar</string>
	<key>PROJECT_ID</key>
	<string>root-wharf-237820</string>
	<key>STORAGE_BUCKET</key>
	<string>root-wharf-237820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422261355406:ios:377e70de09e1925efaaadf</string>
	<key>DATABASE_URL</key>
	<string>https://root-wharf-237820.firebaseio.com</string>
</dict>
</plist>